.srchD{
    background-color: var(--yellow);
    padding: 2%;
    margin: 0% 15%;
    width: 70%;
}

.srchR{
    background-color: var(--purple);
    padding: 2%;
    margin: 0% 15%;
    width: 70%;
}

.srchB{
    background-color: whitesmoke;
    padding: 2%;
}

.mpInput{
    width: 70%;
    background-color: transparent;
    border-bottom-style: groove;
    color: var(--purple);
    border-color: var(--purple);
    font-size: 1.4em;
    border-radius: 5px;
}

.choose-locM {
    /* background-color: #ffffff0d; */
    border: 2px solid var(--purple);
    /* background-color: #823585a6; */
    /* color: rgb(85, 12, 85); */
    /* font-weight: 100; */
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8rem;
}
.choose-locM .col-9,
.choose-locM .col-8,
.choose-locM .col
 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.choose-locM button {
    z-index: 3;
}
.choose-loc span {
    color: var(--purple);
}

#mpBut{
    padding: 0.4em 1em;
    background-color: transparent;
    border-radius: 0.4em;
    color: var(--purple);
    border-color: var(--purple);
    font-weight: 600;
}

#mpBut:hover{
    color: var(--yellow);
    background-color: var(--purple);
}

.mdrides{
    color: var(--purple);
    background-color: var(--yellow);
    padding: 0.5em 1em;
   font-size: 0.8em;
    border: 2px solid var(--purple);
    margin: 0.7em 0em;
    height: auto;
    border-radius: 0.4em;
}

.mdrides:hover{
    border:2px solid var(--red);
}

.mdauto{
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
    background-image: url('../../../Media/rickshaw.svg');
}

.mdtaxi{
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
    background-image: url('../../../Media/taxi.svg');
}

#mdRide{
    display: none;
}

@media (max-width: 1000px) {
    .srchD{
        background-color: var(--yellow);
        padding: 2%;
        margin: 0% !important;
        width: 100%;
    }

    .mdauto{
        background-size: 100%;
    }

    .mdtaxi{
        background-size: 100%;
    }
}