@import url(../../App.css); 
#about-page {
    color: white;
}
#about-page h2,
#about-page h1{
    font-weight: bold;
    color: var(--yellow);
}

#about-page .about-points {
    text-align: left;
}
#about-page .about-points h2{
    font-weight: bold;
    color: var(--yellow);
    margin-bottom: 0.5em;
    margin-top: 2.5em;
    text-align: center;
}

/* #about-page h2:not(:first-child) {
} */

#about-page .about-icons{
    background-color: white;
    border-radius: 2em;
    padding: 0.5em;
}

#about-page #region-map {
    width: 100%;
    height: 500px;
    border-top-right-radius: 5em;
    border-bottom-left-radius: 5em;
    overflow: hidden;
    border: 6px solid var(--yellow);
}
#about-page .team-img {
    position: relative;
    margin-bottom: 0.5em;
}

#about-page .team-img:hover div {
    width: 108%;
    height: 108%;
    top: -4%;
    left: -4%;
    transition: 0.4s;
}

#about-page .team-img div {
    position: absolute;
    z-index: 0;
    top: -2%;
    left: -2%;
    border-radius: 50%;
    width: 104%;
    height: 104%;
    transition: 0.4s;
}
#about-page .team-img img {
    z-index: 2;
    position: relative;
}

@media (max-width: 756px) {
    /* #about-page #region-map {
        width: 80vw;
    } */
}
@media (max-width: 450px) {
    #about-page #region-map {
        width: 100vw;
        border-top-right-radius: 3em;
    border-bottom-left-radius: 3em;
    }
}

@media (min-width: 756px) {
    #about-page .about-points {
        text-align: right;
    }
    #about-page .about-points h2{
        text-align: right;
    }
    .about-points .row:nth-child(even) {
        text-align: left;
        flex-direction: row-reverse!important;
    }
    .about-points .row:nth-child(even) h2 {
        text-align: left !important;
    }
}