#ride-chat-box {
    height: calc(100vh - 76px);
}
.chatscreen {
    background-color: var(--purple);
    color: var(--yellow);
    border-color: #2b0a2c78 !important;
    height: 100%;
}
.chat-head {
    height: 8%;
}

.chatbody {
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    padding: 1rem;
    height: 80%;
    background-image: linear-gradient(#ffcf151f, #ffcf156b), url('../../../Media/purple-sprinkle.svg');
    background-repeat: no-repeat;
    border-radius: 0.25rem;

}

.messageCard {
    padding: 1.2em;
    background-color: rgb(236, 236, 236);
    max-width: 350px;
}

.otherMessage .messageCard {
    border-bottom-left-radius: 0px !important;
    color: var(--purple);
}

.selfMessage {
    justify-content: flex-end;
}

.selfMessage .messageCard {
    border-bottom-right-radius: 0px !important;
    background-color: var(--purple);
    /* border: 1px solid var(--yellow) !important; */
}


/* .sendbox {
    margin-left: 2vw;
    height: 40px;
    width: 80%;
} */

.sendbutton {
    border: black solid 2px;
    /* width: 10vw;
    height: 40px; */
}

.chat-send {
    height: 12%;
}