/* theme colors:
purple: #2b0a2c
yellow: #ffcf15
*/
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200;400;700&display=swap');
/* font-family: 'Antonio', sans-serif; */

:root {
  --purple: #2b0a2c;
  --yellow: #ffcf15;
}

.App {
  text-align: center;
}

body {
  overflow: overlay;
}

/* SCROLLBAR */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: #0a09034b;
	border-radius: 2em;
	cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
	background: #0a09038a;
}

::-webkit-scrollbar-track {
	background: transparent;
	margin: 2px 0;
}
/* SCROLL END */

.App-logo {
  height: 50px;
  pointer-events: none;
}

.App-header {
  background-color: var(--purple);
  height: 76px;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App-header .navbar {
  transition: 0.4s;
}

.navbar.fixed-top .navbar-brand {
  display: block;
}

.App-link {
  color: #61dafb;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar.fixed-top {
  background-color: var(--purple);
  transition: 0.4s;
  background-image: url('Media/purple-sprinkle.svg');
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

/* hamburger css */
#hamburg {
  position: absolute;
  top: 13px;
  left: 12px;
  z-index: 1200;
}

#hamburg svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.5;
  cursor: pointer;
}

#hamburg svg path {
  fill: none;
  stroke: var(--yellow);
  stroke-width: 3px;
}

#top,
#bottom {
  stroke-dasharray: 30, 75.39;
  transition: all 0.6s cubic-bezier(0.6, 0.33, 0.67, 1.29);
}

#hamburg svg.active #top,
#hamburg svg.active #bottom {
  stroke-dasharray: 75.39;
  stroke-dashoffset: -60;
}

#hamburg svg {
  transform: rotate(180deg);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#hamburg svg path {
  transition: all 0.4s ease-in-out 0.6s;
}

#hamburg svg.active {
  transform: rotate(360deg);
}

#hamburg .rocket #top {
  stroke-dasharray: 30, 88;
}

/* ham end */

/* SIDEBAR */
/* .sidebar-root, */
.sidebar-sb {
  position: fixed !important;
}

.sidebar-sb {
  z-index: 1020 !important;
  background-image: url('Media/purple-sprinkle.svg');
  width: 280px;
}

.sidebar-root .nav-link {
  color: white;
}
.sidebar-root .nav-link.active {
  background-color: var(--yellow) !important;
  color: var(--purple) !important;
}

.side-col {
  height: calc(100vh - 76px);
  margin-top: 76px;
}

.side-col hr {
  background-color: var(--yellow);
  /* height: 5px; */
}
.side-col .dropdown-menu {
  background-color: var(--purple) !important;
}
.side-comp {
  width: fit-content;
  color: var(--yellow);
  font-family: 'Antonio', sans-serif;
}

/* SB END */

.purple-btn {
  color: white;
  background-color: var(--purple);
}