.drinfo{
    background-color: var(--yellow);
    color: var(--purple);
    padding: 1.5em;
    font-size: 1em;
}

.drCont{
    padding: 1em;
}

.drpic {
    height: 200px;
    width:200px;
    position: relative;
    overflow: hidden;
    display: flex;
    border-radius: 50%;
    border:var(--purple) solid;
}

.rinfo{
    margin-bottom: 1em;
}

#chatBut{
    padding: 0.4em 1em;
    background: transparent;
    border-radius: 0.4em;
    border: solid var(--purple);
    font-size: 600;
    color: var(--purple);
}

#chatBut:hover{
    color: var(--yellow);
    background-color: var(--purple);
}